* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100px;
}

.bannervideo {
    position: relative;
    z-index: 1;
    width: 100%;
}



.bannervideo video {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;



}

.bannervideo h1,
.bannervideo p {
    width: 5.1rem;
    position: relative;
}

.bannervideo h1,
.bannervideo h1 span {
    font-size: .3rem;
    line-height: .4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;

    font-weight: 700;
    color: #fff;
    top: 1.45rem;
    margin: 0 auto;
    text-align: center;

}

.bannervideo h1 span {
    color: #85b72c;

}

.bannervideo p {
    font-size: .16rem;
    font-weight: 400;
    margin-bottom: .25rem;
    color: #fff;

    top: 1.6rem;
    margin: 0 auto;
    text-align: center;


}

.getbook {
    position: relative;
    background: #85b72c;
    font-size: .14rem;
    font-weight: 600;
    line-height: .48rem;
    border-radius: 8px;
    width: 2rem;
    height: .48rem;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    top: 2.1rem;
}

.container {
    margin: 3.4rem auto .8rem;
    position: relative;
    width: 5.1rem;

}

.row {
    width: 5.4rem;
    position: relative;
    margin: 0 auto;


}

.rowin {
    width: 2.4rem;
    height: 2.3rem;
    background: #f7f4ee;
    border-radius: 10px;
    display: inline-block;
    position: relative;
}

.rowin img {
    display: block;
    width: 1rem;
    height: .75rem;
    margin: 0 auto;
    margin-top: .35rem;


}

.rowin .int {
    margin: 0 auto;
    margin-top: .1rem;
    height: 1rem;
    position: absolute;
    top: 1rem;
    left: .8rem;


}

.rowin .int h5 {

    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    line-height: .28rem;
    margin: 0 auto;
    color: #1D2228;
    font-size: .18rem;


}

.rowin .int span {
    margin: 0 auto;

    display: block;
    width: .8rem;
    height: .32rem;
    line-height: .32rem;
    background: #dde6ce;
    color: #85b72c;
    border-radius: 4px;
    font-weight: 600;
    font-size: .12rem;
    text-align: center;
    margin-top: .15rem;
}

.blog h2 {
    font-size: .26rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: .34rem;
    margin: .2rem 0 .2rem;
    font-weight: 700;

}

.blog p {
    font-size: .16rem;
    line-height: .28rem;
    color: #515151;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 5.4rem;

}

.aimg img {
    width: 5.1rem;
    height: auto;
    border-radius: .08rem;
    margin-top: .3rem;
}

.aimg div,
.cm .aa,
.sc .aa {
    margin-top: -.1rem;
    display: block;
    width: fit-content;
    background: #ffdbdb;
    color: #ff6767;
    padding: 0 .1rem;
    line-height: .34rem;
    border-radius: .08rem;
    font-size: .13rem;
    font-weight: 600;
}

.aimg h5 {
    margin-top: .2rem;
    color: #1D2228;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .19rem;
    font-weight: 500;

}

.aimg p {
    font-size: .15rem;
    line-height: .28rem;
    margin: .15rem 0;
}

.ganyan img {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 3rem;

}

.ganyan h2 {
    position: relative;
    text-align: center;
    font-size: .26rem;
    line-height: .34rem;
    padding: .4rem;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.ganyan span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: .17rem;
    color: #1D2228;
    display: block;
    padding: .2rem;
    text-align: center;
}

.ganyan p {
    font-size: .16rem;
    color: #515151;
    line-height: .28rem;
    padding: .3rem;
}

.container2 {
    width: 5.1rem;
    margin: 0 auto;
}

.cm,
.sc {
    background-color: #f7f4ee;
    border-radius: .08rem;
    position: relative;
    width: 100%;
    height: 2.9rem;
    margin-top: 1rem;
    overflow: hidden;


}

.aa,
.sc .aa {
    position: absolute;
    top: .4rem;
    left: .25rem;
}

.cm h3,
.sc h3 {
    position: absolute;
    font-size: .26rem;
    line-height: .32ren;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #1D2228;
    left: .25rem;
    top: .8rem;

}

.cm p,
.sc p {
    font-size: .14rem;
    line-height: .28rem;
    position: absolute;
    color: #515151;
    top: 1.4rem;
    left: .25rem;
    width: 2.3rem;
}

.view {
    width: fit-content;
    font-size: .14rem;
    position: absolute;
    color: #fff;
    background: #ff6767;
    text-align: center;
    padding: .1rem .15rem;
    top: 2.3rem;
    left: .25rem;
    border-radius: .05rem;

}

.cm img,
.sc img {
    position: absolute;
    width: 3.2rem;
    height: auto;
    top: .8rem;
    right: -1.2rem;
}

.sc {
    margin-top: .2rem;
}

.sc .aa {
    background: #dde6ce;
    color: #85bd95;


}

.sc .view {
    background: #85b72c;
}

.shop h2 {
    font-size: .26rem;
    line-height: .34rem;
    margin-bottom: .1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: .5rem;

}

.shop p {
    margin-top: .2rem;
    margin-bottom: .2rem;
    font-size: .16rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: .28rem;
}

.adimgbox {
    background: #f7f4ee;
    width: 5.1rem;
    height: auto;
    border-radius: 10px;
}

.ad .adimgbox {
    margin: 0 auto;

}

.adimgbox img {
    display: block;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;

}

.ad h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;

    color: #1D2228;
    font-size: .18rem;
    font-weight: 700;
    line-height: .28rem;
    margin-top: .15rem;
    margin-bottom: .1rem;
}

.ad p {


    font-size: .16rem;
    color: #ff6767;

    margin-bottom: .15rem;
}

.ad span {
    display: block;
    font-size: .14rem;
    line-height: .28rem;
    color: #515151;
}