.about-us_head1{
	width: 100%;
	height:525.6px;
	position: relative;
	background-size: cover;
}
.container{
	width: 100%;
	height: 105.6px;
	margin-top: 189.6px;
	position: absolute;
}
.container_1{
	width: 930px;
	height: 105.6px;
	margin: 0 auto;
}
.container_2{
	width: 930px;
	height: 57.6px;
	display: block;
	position: relative;
}
.container_2 h1{
	font-weight:700;
	font-size: 50px;
	color: white;
	text-align: center;
	line-height: 58px;
}
.container_3{
	width: 930px;
	height: 28px;
}
.container_3 ul{
	width: 930px;
	height: 28px;
	text-align: center;
}
.container_3 li{
	width: 60px;
	height: 28px;
	font-size: 15px;
	line-height: 28px;
    display: inline-block;
	text-align: center;
	}
 .container_3 a{
	    text-decoration: none;
	    color: #FFFFFF;
		display: block;
		font-weight: 700;
 }
 .section1{
	 height: 436px;
	 position: relative;
	 overflow: hidden;
 }
 .section1-1{
	 height: 276px;
	 margin-top: 80px;
 }
 .section1-left{
	 margin-left:-100px;
	 margin-top: 0;
	 width: 424px;
	 height: 523px;
	 display: inline-block;
	 float: left;
 }
 .section1-left img{
	 width: 424px;
	 height: 523px;
	 z-index: 1;
 }
 .section1-right{
	 margin-right: -100px;
	 margin-top: 0;
	 width: 384px;
	 height: 250px;
	 display: inline-block;
	 float: right;
	 z-index: 1;
 }
 .section1-right{
	 width: 384px;
	 height: 250px;
 }
 .section1-2{
 	 width: 1110px;
 	 height: 276px;
 	 margin: 0 auto;
	 text-align: center;
	 display: block;
	 z-index: 999;
 }
.title{
	font-size: 42px;
	margin-bottom: 20px;
	width: 1110px;
	height: 48px;
}
h2{
	line-height: 48px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	color: #1D2228;
}
.title span{
	color: #85B72C;
}
.subtitle{
	    line-height: 28px;
	    margin-bottom: 15px;
	    color: #515151;
		margin: 0 auto 20px;
		max-width: 600px;
		font-size: 16px;
}
.last-title{
	background-color: #85B72C;
	box-shadow: 4px 3px 24px rgba(133,183, 44, .5);
	text-decoration: none;
	display: inline-block;
	line-height: 24px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	padding: 12px 30px;
	border-radius: 8px;
	}
.section2{
	height: 380.4px;
	position: relative;
}
.section2-container{
	height: 330.4px;
	width: 1110px;
	margin:  0 auto;
	max-width: 1110px;
	overflow: hidden;
}
.container-left{
	height: 330.4px;
	width: 540px;
	float: left;
	position: absolute;
	display: block;
	overflow:hidden;
}
.container-left1{
	width: 540px;
	height: 300.4px;
	margin: 0 auto;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 30px;
	background-color: #f7f4ee;
}
.container-left2{
	width: 288px;
	height: 240.4px;
	margin-left: 30px;
	margin-top: 30px;
}
.container-left2 span{
	display: inline-block;
	    padding: 3px 12px;
	    color: #ff6767;
	    background-color: #ffdbdb;
	    border-radius: 8px;
	    font-weight: 600;
	    margin: 0 0 10px 0;
	    font-size: 13px;
}
.container-left2 h3{
	margin-bottom: 35px;
	ont-size: 35px;
	line-height: 43px;
	margin: 0 0 20px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	color: #1D2228;
	font-size: 43px;
}
.container-left2 p{
	font-size: 15px;
	line-height: 28px;
	margin-bottom: 15px;
	color: #515151;
}
.container-left2 a{
	background-color: #85B72C;
	box-shadow: 4px 3px 24px rgba(133,183, 44, .5);
	text-decoration: none;
	display: inline-block;
	line-height: 24px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	padding: 12px 30px;
	border-radius: 8px;
}
.container-right{
	height: 330.4px;
	width: 540px;
	position: absolute;
	display:block;
	margin-left: 570px;
	overflow: hidden;
}
.container-right1{
	width: 540px;
	height: 300.4px;
	margin: 0 auto;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 30px;
	background-color: #f7f4ee;
	z-index: 1;
	}
.container-right2{
		width: 288px;
		height: 240.4px;
		margin-left: 30px;
		margin-top: 30px;
	}
.container-right2 span{
	display: inline-block;
	padding: 3px 12px;
	color: #ff6767;
	background-color: #ffdbdb;
	border-radius: 8px;
	font-weight: 600;
	margin: 0 0 10px 0;
	font-size: 13px;
}
.container-right2 h3{
	margin-bottom: 35px;
	ont-size: 35px;
	line-height: 43px;
	margin: 0 0 20px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	color: #1D2228;
	font-size: 43px;
}
.container-right2 p{
	font-size: 15px;
	line-height: 28px;
	margin-bottom: 15px;
	color: #515151;
}
.container-right2 a{
	background-color: #85B72C;
	box-shadow: 4px 3px 24px rgba(133,183, 44, .5);
	text-decoration: none;
	display: inline-block;
	line-height: 24px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	padding: 12px 30px;
	border-radius: 8px;
}
.container-left1 img{
	bottom: 30px;
	right: -120px;
	width: 320px;
	position: absolute;
}
.container-right1 img{
	width: 240px;
	height: 230.59px;
	right: -50px;
	bottom: 30px;
	position: absolute;
}
.section3{
	height: 712px;
	position: relative;
}
.section3-photo1{
	bottom: 60px;
	left: 120px;
	display: block!important;
	position: absolute;	
}
.section3-photo2{
	top: 0;
	right: 0;
	position: absolute;
	display: block!important;	
}

.section3-photo3{
	position: absolute;
	display: block!important;	
}
.section3-container{
	height: 712px;
	width: 1140px;
	margin: 0 auto;
}
.section3-container-top{
	width: 1140px;
	height: 276px;
	display: inline-block;
	position: absolute;
}
.section3-container-top1{
	height: 276px;
	width: 540px;
	display: block;
	margin-left: 20px;
}
.section3-container-bottom{
	width: 1140px;
	height: 356px;
	display: inline-block;
	position: absolute;
	margin-top:276px;
}
.section3-container-bottom1{
	height: 356px;
	width: 540px;
	display: block;
	margin-left: 580px;
	margin-top: 80px;
}
.top-title {
	font-size: 42px;
	margin-bottom: 20px;
	line-height: 48px;
	margin: 0 0 20px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}
.top-title span{
	color: #85B72C
}
.top-subtitle{
	color: #515151;
}
.bottom-title{
	font-size: 42px;
	margin-bottom: 20px;
	line-height: 48px;
	margin: 0 0 20px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}
.bottom-title span{
	color: #85B72C
}
.bottom-subtitle{
	color: #515151;
}



			
	